.menu li > *:not(ul, .menu-title, details, .btn):active, .menu li > *:not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active {
    background-color: transparent;
    text-decoration: underline;
    color: red;
}
.bgImg{
    background: white url("../../assets/images/Rectangle 4281.png") no-repeat center center / cover;
    height: 540px;
}